# Node modules (will be installed inside Docker)
node_modules
client/node_modules
server/node_modules

# Build outputs
dist
*.log

# Local environment files
.env
.env.local

# MacOS / Linux hidden files
.DS_Store
*.swp
*.swo

# Vite cache
node_modules/.vite

# VSCode settings
.vscode
